body{
    margin: 0px;
    padding: 0px;
}
.bottom_box{
   width: 100%;
    bottom: 0px;
    position: fixed;
    background-color: white;
}
.bottom_box .bottom_list{
    width: 96%;
    margin: 0 auto;
}
.bottom_box .bottom_list .shouye{
    width: 25%;
    text-align: center;
    float: left;
}
.bottom_box .bottom_list .shouye .mui-tab-label{
    margin-bottom: 4px;
    margin-top: 0px;
    font-size: 0.8rem;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.bottom_box .bottom_list .shouye .icon{
    width: 1.3rem;
    height: 1.3rem;
    margin-top: 20px;
}