body{
    margin: 0px;
    padding: 0px;
}
.bottom_box{
   width: 100%;
    bottom: 0px;
    position: absolute;
}
.bottom_box .bottom_list{
    width: 90%;
    margin: 0 auto;
}
.bottom_box .bottom_list .shouye{
    width: 23%;
    /*iconfont-size: 24px;*/
    text-align: center;
    float: left;
}
 /*.mui-tab-label {*/
    /*iconfont-size: 11px;*/
    /*display: block;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
/*}*/