.brand_list{
    width: 100%;
}
.brandList_choose{
    width: 96%;
    margin: 0 auto;
    color: rgb(102,102,102);
}
.brandList_choose .left{
    width: 50%;
    text-align: center;
    float: left;
    font-size: 1.1rem;
    line-height: 2.4rem;
    font-family: "微软雅黑";
    position: relative;
}
.brandList_choose .left .down{
    position: absolute;
    top: 0.4rem;
    right: 2.9rem;

}
.brandList_choose .left .up{
    position: absolute;
    top: 0.9rem;
    right: 2.9rem;
}
.new {
    margin-top: 40px;
}
.active{
    color:  rgb(244,100,37);
}
