body{
    font-size: 1.0em;
    background-color: white;
}
body .head_box{

}
header{
    margin-bottom: 15px;
}
.mui-content {
     background-color: white;
}
.mui-content-padded {
    margin: 0px 10px;
}
.content_left{
    width: 30%;
    float: left;
    text-align: center;
    position: fixed;
}
.content_right{
    width: 70%;
    float: right;
    /*clear: both;*/
}
.content_box{
    width: 96%;
    margin: 0 auto;
}
.content_left ul{
    list-style: none;
    font-family: "宋体";
    font-size: 1.2em;
    line-height: 2em;
    margin: 0px;
    padding: 0px;
}
.content_left ul .allType{
    border-top: 1px solid  rgb(239,239,239);
}

.content_left ul li{
    border-right: 1px solid rgb(239,239,239);
    border-bottom: 1px solid  rgb(239,239,239);
    line-height: 2.5em;

}
.content_right .title_choose{
    text-align: center;
}
.mui-grid-view.mui-grid-9 {
     background-color: white;
}
.fenLei_details ul li img{
    width: 100%;
    background-size: 100% 100%;
}
a{
    color: black;
}
/*.active{*/
    /*color: rgb(244,100,37);*/
    /*background: url("../images/left_tou.png") no-repeat  9%;*/
/*}*/
.current {
    color: rgb(244,100,37);
    background: url("../images/left_tou.png") no-repeat 10% ;
}
