.select_box{
    width: 100%;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
}
.select_box ul li{
    float: left;
    list-style: none;
    width: 25%;
    text-align: center;
    font-family: "微软雅黑";
    border-right: 1px solid rgb(239,239,239);
    line-height: 25px;
    font-size: 1.0rem;
    box-sizing: border-box;
}
.select_box ul li:last-child{
    border-right: 0px;
}
.select_box .shangXia{
    width: 14px;
    height: 28px;
}
.active{
color: rgb(244,100,37);
}

.choose_content{
    width: 96%;
    margin: 60px auto 0px auto ;
    font-size: 1.2rem;
}
.choose_1{
    display: inline-block;
    border: 1px solid rgb(239,239,239);
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    font-size: 0.8rem;
}
.choose_2{
    display: inline-block;
    border: 1px solid rgb(239,239,239);
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    font-size: 0.8rem;
}
.select_box .ul_box{
    width: 96%;
    margin: 0 auto;
    text-align: center;
}
.select_box .ul_box ul{
    margin: 0px;
    padding: 0px;
}
.choose_1_active{
    border: 1px solid rgb(244,100,37);
    color: rgb(244,100,37);
}